body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(229, 241, 193);
    
}

/* Heading styles */
h1,h2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 175%;
    text-align: center;
}

h2 {
    font-size: 140%;
}

/* Paragraph base styles */
p {
    margin-bottom: 20px;
    font-size: 140%;
}

/*Buttons style*/
button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(21, 44, 173);
    color: white;
}

/* Button hover effect */
button:hover,input:hover {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}


.quiz-container button {
    justify-content: center;
    display: flex block;
    margin: 10px;
}